.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    display: none !important;
}

.css-1hbyad5-MuiTypography-root {
    display: none !important;
}

.css-4pax7l-MuiPickersLayout-root{
    justify-content: center !important;
    padding: 0 !important;
}


.css-15jcv2p-MuiPickersToolbar-content{
    justify-content: center !important;
    color: #12646a;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
    background-color: #12646a !important;
}

.css-i4bv87-MuiSvgIcon-root{
    color: #EFCD3E;
}

.add-event{ 
  margin-top: 5px;
}

.calendar-page{
   padding-right: 30px; 
   padding-left: 30px;
}
