.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.close {
  float: right;
  cursor: pointer;
}

.prompts-layout {
  width: 100%;
  margin-bottom: 10px;
  color: black;
}

.prompts-list {
  width: 100%;
  border-collapse: separate;
  text-align: left;
  margin-top: 15px;
  border-spacing: 0 15px;
}

.admin-prompt-btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1399A3;
  color: white;
  margin-top: 10px;
  font-weight: bold;
  font-size: medium;
}

.prompt-btn {
  border-radius: 40px;
  background-color: #ebe9e9;
  border: none;
  width: 100px;
  margin-right: 10px;
  padding: 5px;
  margin: 2px;
}

.prompt-title{
  color: #12646a;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 10px;
}

.table-btns{
  text-align: right;
 }