.survey-background{
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    border-radius: 20px;
    background-color: #efcd3e;
    margin-top: 15px;
    margin-top: 15px;
}

.survey-background textarea {
    resize: vertical;
    width: 93%;
    padding-top: 15px;
    min-height: 80px; 
    padding-left: 10px;
 }

.inputfield{
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    border: none;
    font-size: medium;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 85%; 
}

